@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Roman Serif";
  src: local("Roman Serif"),
    url("../fonts/cmunrm.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roman Serif Bold";
  src: local("Roman Serif Bold"),
    url("../fonts/cmunbx.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roman Serif Italics";
  src: local("Roman Serif Italics"),
    url("../fonts/cmunti.ttf") format("truetype");
  font-weight: italic;
}

* {
  font-family: "Roman Serif", "Roboto", Roboto mono, monospace, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* disables the global scrollbar */
  overflow: hidden;
}

* {
  /* border: 1px red solid;  */
}



