.section-layout {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px 20px;
  padding: 25px 20px;
  border-radius: 10px;
}

h1 {
  font-weight: 400;
}

.personal-form {
  display: flex;
  flex-direction: column;
  max-height: 2000px;
  transition: max-height .5s ease-in;
  gap: 20px;
}

.input-data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-data > input,
.skills-form > input {
  font-size: 15px;
  height: 30px;
  padding: 5px 10px; 
  border-radius: 5px;
  border-style: solid;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 5px;
}

.drop-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 0;
}

.drop-down > img {
  height: 20px;
}

/* this is used to hide the dropdown menu */
.hide {
  /* display: none; */
  overflow: hidden;
  max-height: 0;
  transition: max-height .4s ease-out;
}

.arrow {
  transform: rotate(180deg);
}

/* collective elements */
.button {
  border: none;
  color: white;
  min-height: 45px;
  background-color: cadetblue;
  cursor: pointer;
  border-radius: 7px;
  font-size: 16px;
}

.add-button {
  margin-top: 15px;
}
